# Credentials
creds.txt


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/
.pytest_cache/

# Virtual environments
.venv/
venv/


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
